h1{
    font-family: sans-serif;
    font-size: 5em;
    background-color: aliceblue;
}

#profile_pic{
    height: 400px
}
.social_icon{
    height:50px;
}

body{
    /* background-color:cornflowerblue;*/
    background-image: url("images/graphic_design_is_my_passion.png");
    color: orange;
}

div{
    background-color: wheat;
}